.Main {
  display: grid;
  grid-template-rows: 100px auto;
  align-items: center;
  grid-gap: 10px;
  margin-top: 2%;
  margin-bottom: 3%;
  width: 60%;
}

:global(html) {
	margin: 0;
  background-color: white;
}

:global(#root) {
	width: 100%;
	margin: 0;
   box-sizing: border-box;
	height: 100vh;
 background-color: black;
 display: flex;
 overflow: scroll;
 align-items: flex-start;
 justify-content: center;

}