.Section {
	background-color: rgba(255, 255, 255, 0.09);
	border-color: rgba(255, 255, 255, 0.3);
	border-width: 1px;
	border-radius: 2px;
	border-style: solid;


/*	display: flex;
	align-items: center;
	justify-content: center;*/
	
}

